body {
    background-image: url(../images/bills-background.png) no-repeat center center fixed; 
    background-size: cover;
    height: 100%;
    font-family: 'Muli', ;
    font-size: 18px;
}

.jumbotron {
    text-align: center;
    border: 5px solid #007bfe;
    background: white;
    color: red;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 40px;
    margin-right: 40px;
}

.questions {
    background: white;
    border: 5px solid #007bfe;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 40px;
    margin-right: 40px;
    padding: 20px;
}

#begin{
    width: 100%;
    padding: 15px;
    font-size: 22px;

}

.choice{
    border: 2px solid lightgrey;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    width: 60%;
    margin: 10px auto;
    text-align: center;
}

@media screen and (max-width: 640px) {
    .title {
       position: inherit
    }
  }
